*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.6rem;
  color: #0c1111; }

.heading-primary {
  color: white;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500; }

.heading-tertiary {
  color: #0c1111;
  margin-bottom: 6rem;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/header_photo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 12rem; }
  .header__hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.scrollDown {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px; }

.scrollDown:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg); }

.scrollDown:after {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 2px;
  height: 50px;
  background: white;
  animation: animate 2s linear infinite; }

@keyframes animate {
  0% {
    transform-origin: top;
    transform: scaleY(0); }
  45% {
    transform-origin: top;
    transform: scaleY(1); }
  55% {
    transform-origin: bottom;
    transform: scaleY(1); }
  100% {
    transform-origin: bottom;
    transform: scaleY(0); } }

.section-info__textbox {
  display: inline-block;
  margin-bottom: 4rem;
  width: 68rem; }
  .section-info__textbox p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #102926; }

.section-valuePreposition {
  padding: 14rem 0; }
  .section-valuePreposition__textbox {
    text-align: center;
    color: white;
    width: 80rem;
    margin: 0 auto; }

.heading-small {
  font-weight: 500; }

.short-text {
  font-size: 2.5rem;
  font-weight: 600; }

.feature-box__number {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 10rem; }

.feature-box h3 {
  font-size: 3rem;
  font-weight: 500; }

.feature-box__text {
  font-weight: 500;
  font-size: 1.7rem;
  color: #0c1111; }

.section-quote {
  text-align: center; }

.blockquote {
  display: inline-block;
  width: 120rem;
  font-size: 5rem;
  font-weight: 500; }

cite {
  display: block;
  font-style: normal;
  font-size: 3rem;
  font-weight: 600;
  margin: 1.8rem 0; }

.container {
  padding-top: 15rem;
  height: 100%;
  background: #1C1C1C;
  width: 100%; }

.offer-box {
  display: grid;
  position: relative; }
  .offer-box__textbox {
    width: 75rem;
    color: white;
    top: -11%;
    left: 50%;
    transform: translate(-50%, 11%);
    margin: 0 auto;
    position: absolute;
    text-align: center; }

.offer-box img {
  margin: 0 auto;
  width: 90%;
  align-items: center; }

.row {
  max-width: 130rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-2-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 *6rem); }

.section-info {
  padding: 14rem 0;
  margin: 0 auto; }

.section-valuePreposition {
  background-image: url(../../img/preposition-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  position: relative; }

.section-features {
  padding: 10rem 0; }
