*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.6rem;
  color: #777; }

.heading-primary {
  color: white;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/header_photo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 12rem; }
  .header__hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.scrollDown {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px; }

.scrollDown:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg); }

.scrollDown:after {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 2px;
  height: 50px;
  background: white;
  animation: animate 2s linear infinite; }

@keyframes animate {
  0% {
    transform-origin: top;
    transform: scaleY(0); }
  45% {
    transform-origin: top;
    transform: scaleY(1); }
  55% {
    transform-origin: bottom;
    transform: scaleY(1); }
  100% {
    transform-origin: bottom;
    transform: scaleY(0); } }
