/*
0 - 600px:      Phone
600 - 900px:    Tablet potrait
900 - 1200px:   Tablet landscape
1200 - 1800     where default style apply
1800px + :      Big Desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.6em) {
    html {
      font-size: 62%; } }

body {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.6rem;
  color: #0c1111;
  background-color: white; }

.heading-primary {
  color: white;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    font-weight: 700;
    margin-bottom: 3rem; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 500; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 2.4rem; } }

.heading-tertiary {
  color: #0c1111;
  margin-bottom: 6rem;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/header_photo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem; }
  .header__logo {
    width: 16rem; }
  .header__hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.scrollDown {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px; }

.scrollDown:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 16px;
  height: 16px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg); }

.scrollDown:after {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 2px;
  height: 50px;
  background: white;
  animation: animate 2s linear infinite; }

@keyframes animate {
  0% {
    transform-origin: top;
    transform: scaleY(0); }
  45% {
    transform-origin: top;
    transform: scaleY(1); }
  55% {
    transform-origin: bottom;
    transform: scaleY(1); }
  100% {
    transform-origin: bottom;
    transform: scaleY(0); } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 2.4rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #288C96;
  color: white; }

.section-info__textbox {
  display: inline-block;
  margin-bottom: 4rem;
  width: 125rem; }
  @media (max-width: 56.25em) {
    .section-info__textbox {
      width: 80rem; } }
  .section-info__textbox h2 {
    font-size: 5.4rem; }
  .section-info__textbox p {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: #102926; }
    @media (max-width: 56.25em) {
      .section-info__textbox p {
        font-size: 2rem;
        line-height: 3rem; } }

.section-valuePreposition {
  padding: 14rem 0;
  display: grid;
  align-content: center; }
  .section-valuePreposition__textbox {
    text-align: center;
    color: white;
    width: 110rem;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .section-valuePreposition__textbox {
        width: 80rem; } }

.heading-small {
  font-weight: 500;
  font-size: 2rem; }

.short-text {
  font-size: 3.5rem;
  font-weight: 600; }
  @media (max-width: 56.25em) {
    .short-text {
      font-size: 2.4rem; } }

.feature-box__number {
  font-size: 9rem;
  font-weight: 600;
  margin-bottom: 10rem; }
  @media (max-width: 56.25em) {
    .feature-box__number {
      display: block;
      text-align: center;
      margin-bottom: 0; } }

.feature-box h3 {
  font-size: 3rem;
  font-weight: 600; }
  @media (max-width: 56.25em) {
    .feature-box h3 {
      text-align: center; } }

.feature-box__text {
  font-weight: 500;
  font-size: 2rem;
  color: #0c1111;
  line-height: 3rem; }
  @media (max-width: 56.25em) {
    .feature-box__text {
      text-align: center;
      margin: 0 auto; } }

.section-quote {
  height: 100vh;
  text-align: center; }
  @media (max-width: 56.25em) {
    .section-quote {
      height: 100%; } }

.blockquote {
  display: inline-block;
  width: 120rem;
  font-size: 5rem;
  font-weight: 500;
  padding: 4rem;
  margin-top: 10%; }
  @media (max-width: 56.25em) {
    .blockquote {
      font-size: 3rem;
      width: 80rem; } }

cite {
  display: block;
  font-style: normal;
  font-size: 3rem;
  font-weight: 600;
  margin: 1.8rem 0; }

.section-offer h2 {
  font-size: 5.2rem; }
  @media (max-width: 56.25em) {
    .section-offer h2 {
      font-size: 4.2rem; } }

.container {
  padding-top: 15rem;
  height: 100%;
  background: #1C1C1C;
  width: 100%; }

.offer-box {
  display: grid;
  position: relative; }
  .offer-box__textbox {
    width: 75rem;
    color: white;
    top: -8%;
    left: 50%;
    transform: translate(-50%, 11%);
    margin: 0 auto;
    position: absolute;
    text-align: center; }
    @media (max-width: 56.25em) {
      .offer-box__textbox {
        width: 55rem;
        top: -24%; } }
    .offer-box__textbox h3 {
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 2.6rem; }
      @media (max-width: 56.25em) {
        .offer-box__textbox h3 {
          font-size: 2.2rem; } }
    .offer-box__textbox p {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.6rem; }
      @media (max-width: 56.25em) {
        .offer-box__textbox p {
          font-size: 1.6rem;
          line-height: 2.2rem; } }

.offer-box img {
  margin: 0 auto;
  width: 90%;
  align-items: center; }

.section-business {
  height: 120vh;
  margin: 2rem; }
  @media (max-width: 56.25em) {
    .section-business {
      height: 100%; } }
  .section-business__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14rem;
    padding: 10rem; }
    @media (max-width: 56.25em) {
      .section-business__row {
        grid-template-columns: 1fr; } }
  .section-business__textbox {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem; }
    .section-business__textbox h4 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .section-business__textbox p {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.8rem; }
  .section-business__photo {
    width: 100%; }
    .section-business__photo img {
      width: 100%; }
  .section-business__container {
    margin-top: 2rem;
    width: 28rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px; }
  .section-business__text {
    width: 100%;
    margin-top: 12rem; }
    .section-business__text__main {
      font-size: 7.2rem;
      margin-bottom: 4rem; }
    .section-business__text__sub {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.2rem;
      margin-bottom: 6rem;
      padding-right: 15%; }
    .section-business__text a {
      margin-top: 2rem; }

.posti--logobox {
  width: 100%; }
  .posti--logobox img {
    width: 100%; }

.compensate--logobox {
  width: 100%; }
  .compensate--logobox img {
    width: 200%; }

.pagination {
  width: 95%;
  display: grid;
  justify-items: end; }
  .pagination__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    grid-gap: 2rem; }
  .pagination__icon img {
    width: 3rem; }
  .pagination__text span {
    font-weight: 600;
    font-size: 2rem; }

.section-trademark {
  padding: 5rem 0;
  overflow: hidden; }
  .section-trademark__container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px; }
    @media (max-width: 56.25em) {
      .section-trademark__container {
        grid-template-columns: 1fr; } }
  .section-trademark__textbox {
    color: white;
    padding: 30rem 0 10rem 10rem; }
    .section-trademark__textbox__content {
      align-self: center; }
    .section-trademark__textbox h2 {
      font-size: 5.5rem;
      margin-bottom: 5rem; }
    .section-trademark__textbox p {
      font-size: 3rem;
      font-weight: 500; }
  .section-trademark__photo {
    text-align: center; }
    .section-trademark__photo img {
      width: 68%; }

.section-community {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding: 10rem 0 10rem 5rem;
  grid-gap: 15rem; }
  @media (max-width: 56.25em) {
    .section-community {
      grid-template-columns: 1fr; } }
  .section-community__textbox {
    padding: 0 5rem 0 20rem; }
    @media (max-width: 56.25em) {
      .section-community__textbox {
        padding: 2rem; } }
    .section-community__textbox h2 {
      font-size: 5rem;
      margin-bottom: 4rem; }
    .section-community__textbox p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 3.5rem; }
  .section-community__photo {
    width: 100%; }
    .section-community__photo img {
      width: 90rem;
      height: 80rem; }

.section-wecompensate {
  background: #1B1B1B;
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20rem; }
  @media (max-width: 56.25em) {
    .section-wecompensate {
      grid-template-columns: 1fr; } }
  .section-wecompensate__text {
    font-size: 6rem;
    font-weight: 600;
    color: white;
    align-self: center; }
  .section-wecompensate__photo {
    justify-self: center; }
    .section-wecompensate__photo img {
      width: 500px; }
  .section-wecompensate__pagination {
    padding: 1.4rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 16px 16px 16px 16px; }

.circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  padding-right: 10px; }

.section-traction {
  height: 100vh;
  padding-top: 10rem;
  background: #F0F2F2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .section-traction {
      grid-template-columns: 1fr;
      overflow: visible;
      height: 100%; } }
  .section-traction__photo {
    text-align: center; }
    .section-traction__photo img {
      width: 54rem; }
  @media (max-width: 56.25em) {
    .section-traction__textbox {
      margin: 0 auto; } }
  .section-traction__textbox__content h2 {
    font-size: 6rem;
    margin-bottom: 10rem; }
    @media (max-width: 56.25em) {
      .section-traction__textbox__content h2 {
        text-align: center; } }
  .section-traction__icons {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-gap: 5rem;
    grid-template-rows: auto; }

.round-icon {
  background: #288C96;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  display: grid;
  align-content: center;
  justify-content: center; }
  .round-icon__textbox {
    color: white;
    text-align: center; }
    .round-icon__textbox h3 {
      display: inline-block;
      font-size: 6rem; }
    .round-icon__textbox p {
      font-size: 2rem;
      font-weight: 500; }

.section-impact {
  background-color: #FCFAF8;
  height: 100vh; }
  @media (max-width: 56.25em) {
    .section-impact {
      height: 100%; } }
  .section-impact__textbox {
    margin-top: 15rem;
    display: grid;
    justify-content: center;
    text-align: center; }
    .section-impact__textbox h2 {
      font-size: 5rem;
      padding: 5rem 0; }
    .section-impact__textbox p {
      font-size: 3rem;
      font-weight: 600; }

.cards-container {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  grid-gap: 1rem;
  height: auto; }
  @media (max-width: 56.25em) {
    .cards-container {
      grid-template-columns: 1fr; } }

.card {
  width: 90%;
  display: grid;
  align-content: center;
  height: 40rem; }
  .card__textbox {
    margin-top: 16rem;
    margin-left: 4rem; }
    .card__textbox h2 {
      font-size: 6rem; }
    .card__textbox p {
      width: 80%;
      font-size: 2rem;
      font-weight: 600; }

.section-reviews {
  height: 100vh;
  background: #F0F2F2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 15rem;
  padding: 10rem;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .section-reviews {
      grid-template-columns: 1fr; } }
  .section-reviews__textbox__container {
    height: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center; }
  .section-reviews__textbox h2 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 2.5rem; }
  .section-reviews__textbox span {
    font-size: 4rem;
    font-weight: 600;
    display: block; }
  .section-reviews__button {
    margin: 5rem; }
  .section-reviews__photo {
    width: 70rem; }
    .section-reviews__photo__container {
      height: 100%;
      display: grid;
      align-content: center; }
    .section-reviews__photo img {
      width: 100%; }

.section-partners {
  height: 110vh;
  background: #FCFAF8;
  padding: 5rem 10rem; }
  .section-partners h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 600;
    width: 60%;
    padding: 5rem 0; }
  .section-partners__textbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 56.25em) {
      .section-partners__textbox {
        grid-template-columns: 1fr; } }
    .section-partners__textbox h3 {
      font-size: 3.2rem;
      font-weight: 500; }
    .section-partners__textbox h4 {
      font-size: 2.4rem;
      margin-top: 2rem;
      line-height: 3rem; }
    .section-partners__textbox p {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; }
    .section-partners__textbox__implementation p {
      text-indent: 50px; }
    .section-partners__textbox__implementation span,
    .section-partners__textbox p {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; }

.row {
  max-width: 165rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-right: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-2-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 *6rem); }

.section-info {
  padding: 14rem 0;
  margin: 0 auto; }

.section-valuePreposition {
  background-image: url(../../img/preposition-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  width: 94%;
  margin: 0 auto;
  position: relative; }

.section-features {
  padding: 10rem 0; }

.section-trademark {
  background-image: url(../../img/compensate-flight.png);
  background-size: cover;
  background-position: center;
  height: 100vh; }

.section-socialmedia {
  background-image: url(../../img/compensate-socialmedia.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-socialmedia {
      height: 40vh; } }

.first--card {
  background-image: url(../../img/nainen-puhelin-square.png);
  background-size: cover;
  background-position: center; }

.second--card {
  background-image: url(../../img/shutterstock_651928258.jpg);
  background-size: cover;
  background-position: center; }

.third--card {
  background-image: url(../../img/impact-bg1.jpg);
  background-size: cover;
  background-position: center; }

.fourth--card {
  background-image: url(../../img/impact-bg2.jpg);
  background-size: cover;
  background-position: center; }

.section-business {
  padding: 10rem 0; }
