.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 2.4rem 6rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: #288C96;
        color: white;

    }
}