.section-offer {
    & h2 {
        font-size: 5.2rem;

        @include respond(tab-port) {
            font-size: 4.2rem;
        }

        @include respond(phone) {
            font-size: 3.4rem;
            font-weight: 600;
        }
    }
}


.container {
    padding-top: 15rem;
    height: 100%;
    background: #1C1C1C;
    width: 100%;
}

.offer-box {
    display: grid;
    position: relative;

    &__textbox {
        width: 75rem;
        color: white;
        top: -8%;
        left: 50%;
        transform: translate(-50%, 11%);
        margin: 0 auto;
        position: absolute;
        text-align: center;

        @include respond(tab-port) {
            width: 55rem;
            top: -24%;

        }

        @include respond(phone) {
            width: 30rem;
            top: -75%;

        }



        & h3 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 2.6rem;

            @include respond(tab-port) {
                font-size: 2.2rem;
            }

            @include respond(phone) {
                font-size: 1.6rem;
                margin-bottom: 0.8rem !important;
            }
        }

        & p {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.6rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
                line-height: 2.2rem;
            }

            @include respond(phone) {
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: 400;
            }


        }
    }
}

.offer-box img {
    margin: 0 auto;
    width: 90%;
    align-items: center;
}