.section-wecompensate {
    background: #1B1B1B;
    padding: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }

    @include respond(phone) {
        padding: 5rem;
    }

    &__text {
        font-size: 6rem;
        font-weight: 600;
        color: white;
        align-self: center;

        @include respond(phone) {
            font-size: 3.4rem;
        }

    }

    &__photo {
        justify-self: center;

        & img {
            width: 500px;

            @include respond(phone) {
                width: 250px;
            }
        }
    }

    &__pagination {
        padding: 1.4rem;
        justify-content: center;
        display: grid;
        grid-template-columns: 16px 16px 16px 16px;
    }
}

.circle {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    padding-right: 10px;
}