.section-quote {
    text-align: center;
}

.blockquote {
    display: inline-block;
    width: 120rem;
    font-size: 5rem;
    font-weight: 500;
}

cite {
    display: block;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600;
    margin: 1.8rem 0;
}