.section-reviews {
    height: 100vh;
    background: #F0F2F2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 15rem;
    padding: 10rem;
    justify-content: center;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }

    @include respond(phone) {
        height: 180vh;
        padding: 2rem;
    }



    &__textbox {

        @include respond(phone) {
            width: 30rem;
            margin: 0 auto;
        }

        &__container {
            height: 100%;
            display: grid;
            text-align: center;
            justify-content: center;
            align-content: center;
        }


        & h2 {
            font-size: 6rem;
            font-weight: 500;
            margin-bottom: 2.5rem;

            @include respond(phone) {
                font-size: 3.5rem;
            }

        }

        & span {
            font-size: 4rem;
            font-weight: 600;
            display: block;
        }
    }

    &__button {
        margin: 5rem;

    }

    &__photo {
        width: 70rem;


        &__container {
            height: 100%;
            display: grid;
            align-content: center;
        }


        & img {

            width: 100%;

            @include respond(phone) {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}