.section-info {

    &__textbox {
        display: inline-block;
        margin-bottom: 4rem;
        width: $custom-width;

        & h2 {
            font-size: 5.4rem;
        }

        & p {
            font-size: 3rem;
            font-weight: 600;
            line-height: 4.5rem;
            color: #102926;
        }
    }


}