.section-valuePreposition {
    padding: 14rem 0;
    display: grid;
    align-content: center;

    &__textbox {
        text-align: center;
        color: white;
        width: 110rem;
        margin: 0 auto;
    }
}

.heading-small {
    font-weight: 500;
    font-size: 2rem;
    ;
}

.short-text {
    font-size: 3.5rem;
    font-weight: 600;
}