.section-offer {
    & h2 {
        font-size: 5.2rem;
    }
}


.container {
    padding-top: 15rem;
    height: 100%;
    background: #1C1C1C;
    width: 100%;
}

.offer-box {
    display: grid;
    position: relative;

    &__textbox {
        width: 75rem;
        color: white;
        top: -8%;
        left: 50%;
        transform: translate(-50%, 11%);
        margin: 0 auto;
        position: absolute;
        text-align: center;

        & h3 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 2.6rem;
        }

        & p {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.6rem;
        }
    }
}

.offer-box img {
    margin: 0 auto;
    width: 90%;
    align-items: center;
}