.section-quote {
    height: 70vh;
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;


    @include respond(tab-port) {
        height: 50vh;
    }

}

.blockquote {
    display: inline-block;
    width: 120rem;
    height: 30rem;
    font-size: 5rem;
    font-weight: 500;
    padding: 4rem;

    @include respond(tab-port) {
        font-size: 3rem;
        width: 80rem;
    }

    @include respond(phone) {
        font-size: 2.8rem;
        width: 40rem;
    }

}

cite {
    display: block;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600;
    margin: 1.8rem 0;

    @include respond(phone) {
        font-size: 2rem;
        font-weight: 500;
        // margin: 0;
    }
}