.section-valuePreposition {
    padding: 14rem 0;

    &__textbox {
        text-align: center;
        color: white;
        width: 80rem;
        margin: 0 auto;
    }
}

.heading-small {
    font-weight: 500;
}

.short-text {
    font-size: 2.5rem;
    font-weight: 600;
}