.section-business {
    height: 120vh;
    margin: 2rem;


    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 14rem;
        padding: 10rem;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
    }


    &__textbox {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;


        & h4 {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        & p {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.8rem;
        }

    }

    &__photo {
        width: 100%;


        & img {
            width: 100%;
        }
    }

    &__container {
        margin-top: 2rem;
        width: 28rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 40px;


    }

    &__text {
        width: 100%;
        margin-top: 12rem;

        &__main {
            font-size: 7.2rem;
            margin-bottom: 4rem;
        }

        &__sub {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 3.2rem;
            margin-bottom: 6rem;
            padding-right: 15%;
        }

        & a {
            margin-top: 2rem;
        }

    }


}



.posti--logobox {
    width: 100%;

    & img {
        width: 100%;
    }
}

.compensate--logobox {
    width: 100%;

    & img {
        width: 200%;
    }
}

.pagination {
    width: 95%;
    display: grid;
    justify-items: end;


    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: end;
        grid-gap: 2rem;
    }

    &__icon img {
        width: 3rem;
    }

    &__text span {
        font-weight: 600;
        font-size: 2rem;
    }
}