.section-quote {
    height: 100vh;
    text-align: center;

    @include respond(tab-port) {
        height: 100%;
    }

}

.blockquote {
    display: inline-block;
    width: 120rem;
    font-size: 5rem;
    font-weight: 500;
    padding: 4rem;
    margin-top: 10%;

    @include respond(tab-port) {
        font-size: 3rem;
        width: 80rem;
    }

    @include respond(phone) {
        font-size: 2.8rem;
        width: 40rem;
    }

}

cite {
    display: block;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600;
    margin: 1.8rem 0;

    @include respond(phone) {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
    }
}