*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    // this defines what 1rem is equivalent to 1rem==10px
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 40%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-land) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 62% // 1rem = 12px, 12/16 = 75%
    }
}

body {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: $default-font-size;
    color: #0c1111;
    background-color: white;
    // padding: 3rem;
}