.section-info {
    padding: 14rem 0;
    margin: 0 auto;
}

.section-valuePreposition {
    background-image: url(../../img/preposition-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    width: 94%;
    margin: 0 auto;
    position: relative;

    @include respond(phone) {
        width: 100%;
    }
}

.section-features {
    padding: 10rem 0;
}

// .offer-box {
//     background-image: url(../../img/hero-mobile.png);
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }

.section-trademark {
    background-image: url(../../img/compensate-flight.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

    @include respond(phone) {
        height: 155vh;
    }
}

.section-socialmedia {
    background-image: url(../../img/compensate-socialmedia.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    @include respond(tab-port) {
        height: 40vh;
    }

    @include respond(tab-port) {
        height: 30vh;
    }
}

.first--card {
    background-image: url(../../img/nainen-puhelin-square.png);
    background-size: cover;
    background-position: center;
}

.second--card {
    background-image: url(../../img/shutterstock_651928258.jpg);
    background-size: cover;
    background-position: center;
}

.third--card {
    background-image: url(../../img/impact-bg1.jpg);
    background-size: cover;
    background-position: center;
}

.fourth--card {
    background-image: url(../../img/impact-bg2.jpg);
    background-size: cover;
    background-position: center;
}

.section-business {
    padding: 10rem 0;
}