.section-info {
    padding: 14rem 0;
    margin: 0 auto;
}

.section-valuePreposition {
    background-image: url(../../img/preposition-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    position: relative;

}

.section-features {
    padding: 10rem 0;
}

// .offer-box {
//     background-image: url(../../img/hero-mobile.png);
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }